.pConatainer{
  
    display: flex;
}
.lContainer{
    background-color:black;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
    width: 30%;
    
    a{
        text-decoration: none;
        color: white;
        margin: 10px auto;
      
    }
}
.rContainer{
   /* background-color:black;*/
    /*color: white;*/
    width: 70%;
   
}